body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  line-height: 120px;
  font-size: 2rem;
  font-family: 'Press Start 2P', cursive;

}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  box-shadow: 0 0 20px red;

}

.green {
  background-color: green;
  box-shadow: 0 0 20px green;
}

.blue {
  background-color: blue;
  box-shadow: 0 0 20px blue;
}

.yellow {
  background-color: yellow;
  box-shadow: 0 0 20px yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
  transform: scale(0.9);
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 150px;
    height: 150px;
    line-height: 90px;
    font-size: 1.5rem;
  }

  #level-title {
    font-size: 2rem;
    margin: 10%;
  }

  .container {
    width: 80%;
  }
  
}